#my_tasks{
	height: 50px;
}

#toast-container {
	top: auto !important;
	right: auto !important;
	bottom:2%;
}

#icon_prefix2{
	font-size: 1.2em;
}

#main-card{
	margin-top: 100px;
}

body{
	background-color: black;
}